  <ul *ngFor="let po of pokemons">
    <li>
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>{{po.id}} : {{ po.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{po.photo}}" alt="Photo of {{po.name}}">
      <mat-card-content>
        <p>
          Type : {{po.type}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!--<button mat-button>LIKE</button>
        <button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>
    </li>
  </ul>

